@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --sidebar-background: #111827;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --sidebar-background: #ffffff;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --Card: 222.2 47.4% 11.2%;
    --Card-foreground: #ffffff 0% 100%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;

  }
}

.text-black-input {
  color: black;
}

.invert-logo {
  filter: invert(100%);
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;

}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: #111827;

  padding: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;

}
.ReactModal__Body--open {
  background: #111827;

}

.hidden-content {
  display: none;
}


#prompts-list {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#prompts-list pre, #prompts-list code {
  background-color: #f5f5f5;
  padding: 5px;
  overflow-x: auto;
}

#prompts-list h1, #prompts-list h2, #prompts-list h3, #prompts-list h4, #prompts-list h5, #prompts-list h6 {
  margin-top: 1em;
}

#prompts-list p {
  margin-bottom: 1em;
}

@media (max-height: 640px) {
  body {
    /* Ajustez les styles pour les écrans de faible hauteur */
    padding-bottom: 0; /* Évite les marges qui créent des bandes noires */
    min-height: 100vh; /* Assure que le contenu prend toute la hauteur */
  }

  /* Ajustez les éléments qui débordent ou causent des problèmes */
  .some-element {
    height: calc(100vh - 50px); /* Ajuste la taille de l'élément en fonction de la hauteur de la fenêtre */
  }
}

@media (max-height: 640px) {
  .card {
    padding-bottom: 0; /* Ajustez le padding pour éviter les débordements */
  }
}

.form-item {
  margin-bottom: 0; /* Évitez les marges excessives qui pourraient pousser le contenu en dehors de la vue */
}

.flex-grow {
  min-height: 0; /* Permet à l'élément de s'adapter à la hauteur disponible */
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.overflow-container {
  overflow-x: auto;
  white-space: pre-wrap; /* Pour permettre les retours à la ligne */
  word-wrap: break-word; /* Pour forcer le passage à la ligne si nécessaire */
}